{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
  <div class="row">
    <form action="
    {% if company %}
        {% url "client_edit" pk=company.id %}
    {% else %}
        {% url "client_new" %}
    {% endif %}
    " method="post" class="form col-xs-8">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
              <button type="submit" class="btn btn-primary">
                  Xotiraga saqlash
              </button>
          {% endbuttons %}
    </form>
  </div>

  {% if company %}
  <div class="row">
    <div class="col-xs-8 table-responsive">
      <table class="table table-hover table-bordered">
        <caption>Ombor holati</caption>
        <thead>
          <tr>
            <th width="25%">Mahsulot</th>
            <th width="25%">Miqdori</th>
          </tr>
        </thead>
        <tbody>
        {% for product in company.warehouse.state %}
          <tr>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
{% endblock %}
