{% extends "warehouse/base_warehouse.html" %}

{% block content %}

  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <caption>Klientlar</caption>
        <thead>
          <tr>
            <th>Nomi</th>
            <th>Manzil</th>
            <th>Telefon</th>
            <th>Klient turi</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for company in company_list %}
          <tr>
            <td><a href="{% url "client_edit" pk=company.id%}">{{company.name}}</a></td>
            <td>{{company.address}}</td>
            <td>{{company.telephone}}</td>
            <td width="15%">
              {% if company.client_type == 0 %}
                <span class="label label-success">Diler</span>
              {% elif company.client_type == 1%}
                <span class="label label-primary">Bozor</span>
              {% elif company.client_type == 2%}
                <span class="label label-warning">Do'kon</span>
              {% endif %}
            </td>
            <td width="5%">
              <a href="{% url "client_edit" pk=company.id%}"><span class="glyphicon glyphicon-edit"/></a>
              <a href="{% url "client_delete" pk=company.id%}"><span class="glyphicon glyphicon-trash"/></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <a href="{% url "client_new" %}" class="btn btn-primary">Yangi</span></a>
{% endblock %}
