{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
  <h3>Klientni o'chirib tashlash</h3>
  <p><b>{{company}}</b> ni o'chirishni tasdiqlaysizmi?</p>
  <form class="form" action="{% url "client_delete" pk=company.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Ha." />
    <a href="{% url "clients_list" %}" class="btn btn-primary">Yo'q</a>
  </form>

{% endblock %}
