{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}

    <form action="{% url "incoming_batch_details" pk=orderbatch.pk %}" method="POST" class="form">
        {% csrf_token %}
        <div class="row">
        <div class="table-responsive">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="table table-hover table-bordered table-striped">
                <caption>Batch details</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th width="10%">Firma</th>
                        <th width="15%">Manzil</th>
                        <th width="15%">Telefon</th>
                        <th width="10%">Sana</th>
                        <th>Mahsulotlar</th>
                        <th width="5%">Holat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td><a href="{% url "order_detail" pk=order.pk %}">{{order.slug}}</a></td>
                        <td>{{order.requester}}</td>
                        <td>{{order.requester.address}}</td>
                        <td>{{order.requester.telephone}}</td>
                        <td>{{order.created|date:"d-m-Y"}}</td>
                        <td>
                            {% if not orderbatch.waiting %}
                            <table class="table table-bordered" style="margin: 0;">
                                <tbody>
                                {% for detail in order.orderproductdetail_set.all %}
                                <tr width="20%">
                                    <td width="50%">{{detail.product}}</td>
                                    <td width="50%">
                                        <input type='hidden' name='{{prefix}}{{order.id}}__{{detail.product.id}}' value='{{detail.quantity}}' />
                                        <input class="form-control" maxlength="64" name="{{prefix}}{{order.id}}__{{detail.product.id}}" placeholder="0" required="required" type="text" value="{{detail.quantity}}">
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </td>
                        <td width="15%">
                            {% if order.state == 0 %}
                                <span class="label label-info">Yangi</span>
                            {% elif order.state == 1 %}
                                <span class="label label-primary">Ko'rib chiqilmoqda</span>
                            {% elif order.state == 2 %}
                                <span class="label label-warning">Javob kutilayapti</span>
                            {% elif order.state == 3 %}
                                <span class="label label-danger">Bekor qilindi</span>
                            {% elif order.state == 4 %}
                                <span class="label label-success">Rozilik bildirildi</span>
                            {% elif order.state == 5 %}
                                <span class="label label-success">Yuborildi <span class="glyphicon glyphicon-send"/></span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Jami</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <table class="table table-bordered" style="margin: 0;">
                                <tbody>
                                {% for product, quantity in orderbatch.product_totals.items %}
                                <tr width="20%">
                                    <td width="50%">{{product}}</td>
                                    <td width="50%">{{quantity}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        {% with responds=orderbatch.responds %}
                        <td width="20%">

                        {% if responds.0 == responds.1 %}
                            <span class="label label-success">{{responds.0}} / {{responds.1}}</span>
                        {% else %}
                            {{responds.0}} / {{responds.1}}
                        {% endif %}
                        </td>
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="container">
            {% if not orderbatch.waiting %}
            <button type="submit" class="btn btn-primary" name="save">
            Xotiraga saqlash
            </button>
            <button type="submit" class="btn btn-danger" name="waiting_response">
            Tasdiqlash uchun so'rov yuborish
            </button>
            {% endif %}
        </div>
    </form>
{% endblock %}
