{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="row">
<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
        <caption>Batch details</caption>
        <thead>
            <tr>
                <th width="10%">#</th>
                <th width="10%">Firma</th>
                <th width="15%">Manzil</th>
                <th width="15%">Telefon</th>
                <th style="50%">Mahsulotlar</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orderbatch.orders.all %}
            <tr>
                <td>{{order.slug}}</td>
                <td>{{order.requester}}</td>
                <td>{{order.requester.address}}</td>
                <td>{{order.requester.telephone}}</td>
                <td>
                    <table class="table table-bordered" style="margin: 0;">
                        <tbody>
                        {% for detail in order.orderproductdetail_set.all %}
                        <tr>
                            <td width="60%">{{detail.product}}</td>
                            <td width="40%">{{detail.quantity}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Jami</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <table class="table table-bordered" style="margin: 0;">
                        <tbody>
                        {% for product, quantity in orderbatch.product_totals.items %}
                        <tr>
                            <td width="60%">{{product}}</td>
                            <td width="40%">{{quantity}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
