{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}
{% load query_transform %}
{% block content %}

<div class="row">

  <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped">
          <caption>Zakazlar</caption>
          <thead>
              <tr>
                  <th>Kun</th>
                  {% for product in products %}
                  <th>{{product.name}}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
              {% for order in order_details %}
              <tr>
                {% for info in order %}
                  {% if forloop.first %}
                    <td>{{info|date:"d.b"}}</td>
                  {% else %}
                    <td>{{info|default:"0"}}</td>
                  {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>

{% endblock %}
