{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}
{% load query_transform %}
{% block content %}


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel">
    <div class="panel-heading" role="tab" id="headingOne">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Malumotlarni filtrlash
        </a>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse {% if request.GET %}in{%endif%}" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <form class="form-horizontal" action="?" method="GET" style="margin:10px;">
            <div class="row">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-6"><input type="text" name="firma" placeholder="Firma nomi" class="form-control" value="{{request.GET.firma}}"></div>
                    <div class="col-lg-6"><input type="text" name="manzil" placeholder="Manzil" class="form-control" value="{{request.GET.manzil}}"></div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-6"><input type="text" name="tel" placeholder="Telefon" class="form-control" value="{{request.GET.tel}}"></div>
                    <div class="col-lg-6">
                        <select name="state" class="form-control" id="state">
                            <option value="" {% if not request.GET.state %}selected="selected"{%endif%}>-----</option>
                            <option value="0" {% if request.GET.state and request.GET.state == "0" %}selected="selected"{%endif%}>Yangi</option>
                            <option value="1" {% if request.GET.state and request.GET.state == "1" %}selected="selected"{%endif%}>Ko'rib chiqilmoqda</option>
                            <option value="4" {% if request.GET.state and request.GET.state == "4" %}selected="selected"{%endif%}>Rozilik bildirilgan</option>
                            <option value="3" {% if request.GET.state and request.GET.state == "3" %}selected="selected"{%endif%}>Bekor qilingan</option>
                            <option value="5" {% if request.GET.state and request.GET.state == "5" %}selected="selected"{%endif%}>Yuborildi</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-6">
                        <input type="text" name="daterange" id="daterange" class="form-control" value="{{request.GET.daterange}}" placeholder="Vaqt oralig'i"/>
                    </div>
                    <div class="col-lg-6">
                        <button width="100%" type="submit" class="btn btn-primary" >
                            Filtrlash
                        </button>
                        <a width="100%" href="?" class="btn btn-primary" >
                            Filtrlarni o'chirish
                        </a>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


    <br/>

    <a href="{% url "incoming_order_print" %}?{% query_transform request %}" class="btn btn-primary" >
        Print
    </a>

    <form action="{% url "incoming_orders_new" %}" method="POST" class="form">
        {% csrf_token %}
        <div class="row">

        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <caption>Zakazlar</caption>
                <thead>
                    <tr>
                        {% if editable %}
                        <th></th>
                        {% endif %}
                        <th>#</th>
                        <th>Firma</th>
                        <th>Manzil</th>
                        <th>Telefon</th>
                        <th>Sana</th>
                        {% if not editable %}
                        <th>Holat</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for order in object_list %}
                    <tr>
                        {% if editable %}
                        <th><input type="checkbox" name="order_selection" value="{{order.id}}"/></th>
                        {% endif %}
                        <td><a href="{% url "order_detail" pk=order.pk %}">{{order.slug}}</a></td>
                        <td><a href="{% url "client_edit" pk=order.requester.id %}">{{order.requester}}</a></td>
                        <td>{{order.requester.address}}</td>
                        <td>{{order.requester.telephone}}</td>
                        <td>{{order.created|date:"d-m-Y G:i"}}</td>
                        {% if not editable %}
                        <td width="15%">
                            {% if order.state == 0 %}
                                <span class="label label-info">Yangi</span>
                            {% elif order.state == 1 %}
                                <span class="label label-primary">Ko'rib chiqilmoqda</span>
                            {% elif order.state == 2 %}
                                <span class="label label-warning">Javob kutilayapti</span>
                            {% elif order.state == 3 %}
                                <span class="label label-danger">Bekor qilindi</span>
                            {% elif order.state == 4 %}
                                <span class="label label-success">Rozilik bildirildi</span>
                            {% elif order.state == 5 %}
                                <span class="label label-success">Yuborildi <span class="glyphicon glyphicon-send"/></span>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        {% if editable %}
        <div class="container">
            <button type="submit" class="btn btn-primary" value="process" name="process">
            Create batch
            </button>
            <button type="submit" class="btn btn-danger" value="cancel" name="cancel">
            Rad e'tish
            </button>
        </div>
        {% endif %}
    </form>
    {% if not editable %}
    <nav>
      <ul class="pagination">
        <li>
          <a href="?{% query_transform request page=1 %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for num in pages %}
        <li class="{% if num == page_obj.number %}active{% endif %}">
          <a href="?{% query_transform request page=num %}">{{num}}</a>
        </li>
        {% endfor %}
        <li>
          <a href="?{% query_transform request page=last_page %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    {% endif%}

    <script type="text/javascript">
        jQuery(function($){
         $(document).ready(function() {
            $('#daterange').daterangepicker({
                showDropdowns : true,
                ranges: {
                    '15-dan 14gacha': [moment().startOf('month').subtract(1, 'month').add(14, 'days'), moment().startOf('month').add(13, 'days')],
                    'Oxirgi 7 kun': [moment().subtract('days', 6), moment()],
                    'Shu oy': [moment().startOf('month'), moment().endOf('month')],
                },
                locale: {
                    applyLabel: 'Saqla',
                    cancelLabel: 'Inkor',
                    fromLabel: 'Dan',
                    toLabel: 'Gacha',
                    customRangeLabel: 'Tanlov',
                    daysOfWeek: ['Ya', 'Du', 'Se', 'Chr', 'Pa', 'Ju','Sh'],
                    monthNames: ['Yanvar', 'Fevral', 'Mart', 'Aprel', 'May', 'Iyun', 'Iyul', 'Avgust', 'Sentabr', 'Oktabr', 'Noyabr', 'Dekabr'],
                    firstDay: 1
                }
            },
            function(start, end, label) {
            });
         });
        });
    </script>
{% endblock %}
