{% extends "warehouse/base_warehouse.html" %}
{% load staticfiles %}


{% block content %}
<form action="?" method="GET" class="form">

    <div class="row">
      <div class="col-lg-6">
          <input type="text" name="daterange" id="daterange" class="form-control" value="{{request.GET.daterange}}" placeholder="intervalni tanlang(oxirgi 30kun)"/>
      </div>
      <div class="col-lg-6">
          <input type="submit" class="btn btn-primary" value="Filtrlash" />
      </div>
    </div>

    <div class="row">
    <div class="col-lg-8 table-responsive">
      <table class="table table-hover table-bordered">
        <caption>Eng aktiv klientlar</caption>
        <thead>
          <tr>
            <th width="75%">Klient</th>
            <th width="25%">{{measurement_type}}</th>
          </tr>
        </thead>
        <tbody>
        {% for client in clients %}
          <tr>
            <td><a href="{% url "client_edit" pk=client.id %}">{{client.name}}</a></td>
            <td><a href="{% url "incoming_orders_history" %}?compid={{client.id}}&daterange={{request.GET.daterange}}&state=5">{{client.measurement|default_if_none:""}}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</form>

<script type="text/javascript">
        jQuery(function($){
         $(document).ready(function() {
            $('#daterange').daterangepicker({
                showDropdowns : true,
                ranges: {
                    '15-dan 14gacha': [moment().startOf('month').subtract(1, 'month').add(14, 'days'), moment().startOf('month').add(13, 'days')],
                    'Oxirgi 7 kun': [moment().subtract('days', 6), moment()],
                    'Shu oy': [moment().startOf('month'), moment().endOf('month')],
                },
                locale: {
                    applyLabel: 'Saqla',
                    cancelLabel: 'Inkor',
                    fromLabel: 'Dan',
                    toLabel: 'Gacha',
                    customRangeLabel: 'Tanlov',
                    daysOfWeek: ['Ya', 'Du', 'Se', 'Chr', 'Pa', 'Ju','Sh'],
                    monthNames: ['Yanvar', 'Fevral', 'Mart', 'Aprel', 'May', 'Iyun', 'Iyul', 'Avgust', 'Sentabr', 'Oktabr', 'Noyabr', 'Dekabr'],
                    firstDay: 1
                }
            },
            function(start, end, label) {
            });
         });
        });
    </script>
{% endblock %}
