
{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
<table class="table table-bordered">
  <caption>Zakaz</caption>
  <thead>
    <tr>
      <th>Mahsulot</th>
      <th>Miqdor</th>
    </tr>
  </thead>
  <tbody>
  {% for detail in order_details %}
  <tr width="20%">
    <td width="50%">{{detail.product}}</td>
    <td width="50%">{{detail.quantity}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
