{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
  <form action="{% url "outgoing_orders_new" %}" method="POST" class="form">
    {% csrf_token %}

      <div style="margin:20px 0px;">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            {% for category in products %}
              <li style="width:30%" role="presentation" class="{% if forloop.first %}active{%endif%}">
              <a href="#id_category_{{category.0.id}}" aria-controls="id_category_{{category.0.id}}"
              role="tab" data-toggle="tab">
                {{category.0.name}}
              </a>
              </li>
            {% endfor %}
          </ul>

          <!-- content should be here -->
          <!-- Tab panes -->
          <div class="tab-content">
            {% for category in products %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{%endif%}" id="id_category_{{category.0.id}}">
              <table class="table">
                <tbody>
                {% for product in category.1 %}
                  <tr>
                    <td width="20%">{{product.name}}</td>
                    <td width="80%">
                      <input type="number" class="form-control" id="id_product_{{product.id}}" name="product_{{product.id}}" value=""/>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="container">
        <button type="submit" class="btn btn-primary">
         Zakaz
        </button>
      </div>

  </form>

{% endblock %}
