{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
  <form action="{% url "outgoing_orders_confirmation" %}" method="POST" class="form">
    {% csrf_token %}
    <caption>Tasdiqlash</caption>
    <table class="table">
      <tbody>
      {% for product in products %}
        <tr>
          <td>{{product.name}}</td>
          <td>
            <input type="number" class="form-control" id="id_product_{{product.id}}" name="product_{{product.id}}" value="{{product.count}}"/>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="container">
      <button type="submit" class="btn btn-primary">
       Zakaz
      </button>
    </div>

  </form>

{% endblock %}
