{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}
{% load query_transform %}
{% block content %}

    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <caption>Zakazlar</caption>
            <thead>
                <tr>
                    <th width="10%">#</th>
                    <th>Holat</th>
                    <th width="10%">Yaratilgan sana</th>
                    <th width="10%">Qayta ishlangan sana</th>
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                <tr>
                    <td><a href="{% url "order_detail" pk=order.pk %}">{{order.slug}}</a></td>
                    <td width="15%">
                        {% if order.state == 0 %}
                            <span class="label label-info">Yangi</span>
                        {% elif order.state == 1 %}
                            <span class="label label-primary">Ko'rib chiqilmoqda</span>
                        {% elif order.state == 2 %}
                        <form action="{% url "outgoing_order_update" pk=order.pk %}" method="POST">
                            {% csrf_token %}
                            <button name="ok" class="btn btn-primary">Roziman</button>
                            <button name="cancel" class="btn btn-danger">Yo'q</button>
                        </form>
                        {% elif order.state == 3 %}
                            <span class="label label-danger">Bekor qilindi</span>
                        {% elif order.state == 4 %}
                            <span class="label label-success">Rozilik bildirildi</span>
                        {% elif order.state == 5 %}
                            <span class="label label-success">Yuborildi <span class="glyphicon glyphicon-send"/></span>
                        {% endif %}
                    </td>
                    <td>{{order.created|date:"d-m-Y G:i"}}</td>
                    <td>{{order.updated|date:"d-m-Y G:i"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
      <ul class="pagination">
        <li>
          <a href="?{% query_transform request page=1 %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for num in pages %}
        <li class="{% if num == page_obj.number %}active{% endif %}">
            <a href="?{% query_transform request page=num %}">{{num}}</a>
        </li>
        {% endfor %}
        <li>
          <a href="?{% query_transform request page=last_page %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
{% endblock %}
