{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}
{% load query_transform %}

{% block content %}
    <form action="{% url "incoming_batch_processing" %}" method="POST" class="form">
        {% csrf_token %}
        <div class="row">
        <div class="table-responsive col-lg-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="table table-hover table-bordered table-striped">
                <caption>Order Batches</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sana</th>
                        <th>Holat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for batch in object_list %}
                    <tr>
                        <td width="10%"><a href="{% url "incoming_batch_details" pk=batch.id %}">{{batch.id}}</a></td>
                        <td>{{batch.created|date:"d-m-Y G:i"}}</td>
                        {% with responds=batch.responds %}
                        <td width="20%">
                            {% if responds.0 == responds.1 %}
                                <span class="label label-success">{{responds.0}} / {{responds.1}}</span>
                            {% else %}
                                {{responds.0}} / {{responds.1}}
                            {% endif %}
                        </td>
                        <td width="20%">
                            {% if responds.0 == responds.1 %}
                            {% if editable %}
                                <button type="submit" class="btn btn-primary" value="{{batch.id}}" name="process">
                                <span class="glyphicon glyphicon-ok"/>
                                </button>
                            {% endif %}
                            <a href="{% url "incoming_batch_print" pk=batch.pk%}"><span class="btn btn-primary glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>
                        {% endwith %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </form>

    <nav>
      <ul class="pagination">
        <li>
          <a href="?{% query_transform request page=1 %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for num in pages %}
        <li class="{% if num == page_obj.number %}active{% endif %}">
            <a href="?{% query_transform request page=num %}">{{num}}</a>
        </li>
        {% endfor %}
        <li>
          <a href="?{% query_transform request page=last_page %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
{% endblock %}
