{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
<!DOCTYPE html>

{% spaceless %}
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nura SCM</title>
    <link rel="shortcut icon" href="">
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
-->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/daterangepicker-bs3.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
    <style>
    .btn{
        margin-right: 10px;
    }
    </style>

    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "index" %}">Nura SCM</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% for item in navigation %}
                    {% if item.visible %}
                    <li class="{% if item.active %}active{% endif %} {% if item.childs %}dropdown{% endif %}">
                        {% if item.childs %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{item.title}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% for subitem in item.childs %}
                                {% if subitem.visible %}
                                    <li class="{% if subitem.active %}active{% endif %}"><a href="{% url subitem.view_name %}">{{subitem.title}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <a href="{% url item.view_name %}">{{item.title}}</a>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "logout" %}">Chiqish</a></li>
                </ul>
            </div><!--.nav-collapse -->
        </div>
    </nav>

    <div class="container">
    {% block content %}
    {% endblock %}

        <hr class="featurette-divider"></hr>
        <footer style="margin: 50px 0px;">
            <p class="pull-right"><a href="#">Back</a></p>
            <p>© 2015 Nura, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
    </div>



<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
{% endspaceless %}
