{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
  <h3>Kategoriyani o'chirish</h3>
  <p><b>{{ category }}</b> ni o'chirishni tasdiqlaysizmi?</p>
  <form class="form" action="{% url "warehouse_category_delete" pk=category.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Ha." />
    <a href="{% url "warehouse_categories" %}" class="btn btn-primary">Yo'q</a>
  </form>

{% endblock %}
