{% extends "warehouse/base_warehouse.html" %}

{% block content %}

  <div class="row">
    <div class="table-responsive col-lg-6">
      <table class="table table-hover table-bordered">
        <caption>Kategoriyalar</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Nomlanishi</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for category in category_list %}
          <tr>
            <th scope="row" width="5%">{{category.id}}</th>
            <td>{{category.name}}</td>
            <td width="15%">
              <a href="{% url "warehouse_category_edit" pk=category.id%}"><span class="glyphicon glyphicon-edit"/></a>
              <a href="{% url "warehouse_category_delete" pk=category.id%}"><span class="glyphicon glyphicon-trash"/></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <a href="{% url "warehouse_category_new" %}" class="btn btn-primary">Yangi</span></a>
{% endblock %}
