{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
    <form action="
      {% if category %}
        {% url "warehouse_category_edit" pk=category.id %}
      {% else %}
        {% url "warehouse_category_new" %}
      {% endif %}
      " method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
              <button type="submit" class="btn btn-primary">
                  Xotiraga saqlash
              </button>
          {% endbuttons %}
    </form>
{% endblock %}
