{% extends "warehouse/base_warehouse.html" %}
{% load staticfiles %}


{% block content %}
<form action="{% url "warehouse_dashboard" %}" method="POST" class="form">
{% csrf_token %}
    <div class="row">
    <div class="table-responsive">
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
        </div>
      {% endfor %}
      {% endif %}
      <table class="table table-hover table-bordered">
        <caption>Ombor holati</caption>
        <thead>
          <tr>
            <th width="25%">Mahsulot</th>
            <th width="25%">Miqdori</th>
            {% if is_main %}
            <th width="5%">Ichki</th>
            {% endif %}
            <th style="min-width: 5em">Kirim</th>
            <th style="min-width: 5em">Chiqim</th>
          </tr>
        </thead>
        <tbody>
        {% for product in products %}
          <tr>
            {% if is_main or not product.internal %}
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            {% if is_main %}
            <td class="text-center">
              {% if product.internal %}
                <span class="glyphicon glyphicon-ok"/>
              {% endif %}
            </td>
            {%endif%}
            <td>
              <input class="form-control" maxlength="64" name="add_{{product.pk}}" placeholder="0" type="number" value="">
            </td>
            <td>
              <input class="form-control" maxlength="64" name="del_{{product.pk}}" placeholder="0" type="number" value="">
            </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary">
        Xotiraga saqlash
    </button>
  </div>
</form>
{% endblock %}
