{% extends "warehouse/base_warehouse.html" %}
{% load staticfiles %}
{% load query_transform %}

{% block content %}
    <div class="row">
    <div class="table-responsive col-lg-6">
      <table class="table table-hover table-bordered">
        <caption>Ombor tarixi</caption>
        <thead>
          <tr>
            <th>Mahsulot</th>
            <th>Miqdor</th>
            <th>Sana</th>
            <th>Kirim/Chiqim</th>
          </tr>
        </thead>
        <tbody>
        {% for transaction in object_list %}
          <tr>
            <td>{{transaction.product.name}}</th>
            <td>{{transaction.quantity}}</td>
            <td>{{transaction.created|date:"d-m-Y G:i"}}</td>
            <td width="5%" class="text-center">
              {% if transaction.stock_type == 0%}
                <span class="label label-success">+</span>
              {% else %}
                <span class="label label-danger">-</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <nav>
    <ul class="pagination">
      <li>
        <a href="?{% query_transform request page=1 %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for num in pages %}
      <li class="{% if num == page_obj.number %}active{% endif %}">
          <a href="?{% query_transform request page=num %}">{{num}}</a>
      </li>
      {% endfor %}
      <li>
        <a href="?{% query_transform request page=last_page %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
