{% extends "warehouse/base_warehouse.html" %}

{% block content %}

  <div class="row">
    <div class="table-responsive col-lg-6">
      <table class="table table-hover table-bordered">
        <caption>Mahsulotlar</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Nomlanishi</th>
            <th>Ichki</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for product in product_list %}
          <tr>
            <th scope="row" width="5%">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td width="10%" class="text-center">
              {% if product.internal %}
                <span class="glyphicon glyphicon-ok"/>
              {% endif %}
            </td>
            <td width="15%">
              <a href="{% url "warehouse_product_edit" pk=product.id%}"><span class="glyphicon glyphicon-edit"/></a>
              <a href="{% url "warehouse_product_delete" pk=product.id%}"><span class="glyphicon glyphicon-trash"/></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <a href="{% url "warehouse_product_new" %}" class="btn btn-primary">Yangi</span></a>
{% endblock %}
