{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
  <h3>Mahsulotni o'chirish</h3>
  <p><b>{{ product }}</b> ni o'chirishni tasdiqlaysizmi?</p>
  <form class="form" action="{% url "warehouse_product_delete" pk=product.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Ha." />
    <a href="{% url "warehouse_products" %}" class="btn btn-primary">Yo'q</a>
  </form>

{% endblock %}
