{% extends "warehouse/base_warehouse.html" %}
{% load bootstrap3 %}

{% block content %}
    <form action="{% url "warehouse_stock_transaction" %}" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
              <button type="submit" class="btn btn-primary">
                  Xotiraga saqlash
              </button>
          {% endbuttons %}
    </form>
{% endblock %}
